*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

}
.logo{
  width: 80px;
}
li{
  transition: 500ms;
  margin: 0 3px 0 3px;
}
li:hover{
  border-style: solid;
  border-bottom-color: #207ca6;
  border-width: 0 0 0.5px 0;
  transition: 500ms;
}
.parrafo{
  margin: 5px 0px 0px 50px;
}
.container-body{
  padding-bottom: 50px;
}
.card{
  height: 200px;
}
.statusdsk{
  width: 100%;
}
.card-title{
  text-align: center;
}
.btn-warning{
  color: white;
}
